.nav-link[tabindex]:focus {
    color: rgb(68, 68, 196);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgb(68, 68, 196);
}

#site-title {
    color: white;
}

#search-button[tabindex]:focus {
    background-color: blue;
}

#search-button {
    border-color: white;
    color: white;
}

#search-button:hover {
    background-color: blue;
}

.hidden {
    display: none;
}

.padding-30 {
    padding: 30px;
}

#movie-list {
    display: flex;
  justify-content: left;
  list-style-type: none;
  margin-top: 10px;
}

#movie-list li {
    margin-right: 10px;
}